src/main/resources/FiUsbService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.fiusb.ci.infosys.com" xmlns:impl="http://webservice.fiusb.ci.infosys.com" xmlns:intf="http://webservice.fiusb.ci.infosys.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema targetNamespace="http://webservice.fiusb.ci.infosys.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <element name="executeServiceResponse">
                <complexType>
                    <sequence>
                        <element name="executeServiceReturn" nillable="true" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="executeService">
                <complexType>
                    <sequence>
                        <element name="arg_0_0" nillable="true" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="executeServiceRequest">
        <wsdl:part element="impl:executeService" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="executeServiceResponse">
        <wsdl:part element="impl:executeServiceResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="FIUsbWebService">
        <wsdl:operation name="executeService">
            <wsdl:input message="impl:executeServiceRequest" name="executeServiceRequest">
            </wsdl:input>
            <wsdl:output message="impl:executeServiceResponse" name="executeServiceResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FIUsbWebServiceSoapBinding" type="impl:FIUsbWebService">
        <wsaw:UsingAddressing wsdl:required="false"/>
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="executeService">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="executeServiceRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="executeServiceResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FIUsbWebServiceService">
        <wsdl:port binding="impl:FIUsbWebServiceSoapBinding" name="FIUsbWebService">
            <wsdlsoap:address location="https://cmbfintest.coronationmb.com:2050/fiwebservice/FIWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>